.App {
    background-color: grey;
}

.navbar {
    height: 10vh;
    background-color: grey;
}

.about-me {
    background: linear-gradient(#484848, #000000);
    background: url("./Assets/gun_metal.webp");
}

.about-photo {
    height: 50vh;
    background-image: url("../public/JPicVid/BWDrive.jpg");
    background-size: cover;
}

.about-header {
    margin: 0;
    padding: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.about-header h1 {
    font-size: 3rem;
}

.about-stats {
    height: 20vh;
    background: rgba(217,217,217,0.2);
}

.about-summary {
    color: white;
    padding: 1.5rem;
}

.header-stats {
    opacity: 1;
    color: white;
}

.single-stat {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.statnum {
    font-size: 3rem;

}

.stattype {
    color: #DC6F0B;

 
}